[submodule "vendor/dm.pl"]
	path = vendor/dm.pl
	url = https://github.com/theos/dm.pl.git
[submodule "vendor/include"]
	path = vendor/include
	url = https://github.com/theos/headers.git
[submodule "vendor/lib"]
	path = vendor/lib
	url = git@github.com:dhinakg/theos-lib.git
[submodule "vendor/logos"]
	path = vendor/logos
	url = git@github.com:dhinakg/logos.git
[submodule "vendor/nic"]
	path = vendor/nic
	url = https://github.com/theos/nic.git
[submodule "vendor/templates"]
	path = vendor/templates
	url = https://github.com/theos/templates.git
